#carousel_evenements{
  .owl-carousel{
    .the-date{
      padding: 15px;
      width: 100px;
      height: 100px;
      text-align: center;
      margin: 15px 0;
      border:  solid 3px $elam_primary;
      border-radius: 3px;

      .the-day{
        display: block;
        font-weight: $font-weight-extra-bold;
        font-size: 30px;
        color: $elam_secondary;
      }
      .the-month{
        display: block;
        font-weight: $font-weight-extra-bold;
        color: #000;
        text-transform: uppercase;
      }
    }

    .the-title{
      font-weight: $font-weight-extra-bold;
      margin: 10px 0;
      font-size: 19px;
    }
    .the-content {
      text-align: justify;
    }
  }
  .slide-controls{
    overflow: hidden;

    .col-xs-6{
      padding: 0;
      position: relative;
      height: 200px;
    }
    .frame{
      overflow: hidden !important;
      position: absolute;
      z-index: 1;
      height: 200px;
      width: 100%;
      cursor: pointer;
      @include transition(0.3s);

      img{
        height: 100%;
      }
      .details{
        position: absolute;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.7);
        display: none;
        left: 0;
        top: 0;
        z-index: 3;
        text-align: center;

        .the-date{
          padding: 5px 15px;
          font-size: 11px;
          border-radius: 3px;
          display: inline-block;
          margin: 15px auto;
          background-color: $elam_primary;
          text-transform: uppercase;
          font-weight: $font-weight-bold;
          color: #fff;
        }
        .the-title{
          display: block;
          font-size: 16px;
          font-weight: $font-weight-bold;
          color: #fff;
          padding: 0 20px;
          text-transform: uppercase;
          margin-bottom: 10px;
          @include transition(0.3s);
        }
        .the-title:hover{
          color: $elam_blue;
        }
        .fa{
          color: #fff;
          background-color: $elam_blue;
          padding: 12px 10px;
          border-radius: 100%;
        }
      }
    }
    .frame.active,
    .frame:focus,
    .frame:hover{
      height: 240px;
      width: calc(100% + 20px);
      z-index: 10;
      border:  solid 15px #fff;

      .details{
        display: block;
      }
    }
    .col-xs-6:nth-of-type(1) > .frame.active,
    .col-xs-6:nth-of-type(1) > .frame:focus,
    .col-xs-6:nth-of-type(1) > .frame:hover{
      border-bottom-right-radius: 5px;
    }
    .col-xs-6:nth-of-type(2) > .frame.active,
    .col-xs-6:nth-of-type(2) > .frame:focus,
    .col-xs-6:nth-of-type(2) > .frame:hover{
      right: 0;
      top: 0;
      border-bottom-left-radius: 5px;
    }
    .col-xs-6:nth-of-type(3) > .frame.active,
    .col-xs-6:nth-of-type(3) > .frame:focus,
    .col-xs-6:nth-of-type(3) > .frame:hover{
      bottom: 0;
      border-top-right-radius: 5px;
    }
    .col-xs-6:nth-of-type(4) > .frame.active,
    .col-xs-6:nth-of-type(4) > .frame:focus,
    .col-xs-6:nth-of-type(4) > .frame:hover{
      right: 0;
      bottom: 0;
      border-top-left-radius: 5px;
    }
  }

}