#elam_header {
  position: relative;

  #header_head{
    padding-top: 8px;
    padding-bottom: 8px;


    #header_buttons_inscription{
      position: relative;
      padding: 8px 0;

      #header_buttons{
      margin: 0;

        .login-btn,
        .account-btn{
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          color: #000;
          border-radius: 0;
        }
        .login-btn-alt,
        .account-btn-alt{
          color: #fff;
          font-size: 18px;
        }
        .account-btn{
          border: solid 1px #000;
          border-top: none;
          border-bottom: none;
        }
        #header_search_toggle{
          background: none;
          color: $grey;
          font-size: 18px;
        }
      }

      .search-form{
        background-color: #fff;
        position: absolute;
        right: 0;
        display: none;
        top: 0;
        padding: 8px 5px;
        width: 100%;

        .search-field{
          display: inline-block;
          width: 75%;
          padding: 6px 12px;
          border: none;
          border-bottom: solid 1px $elam_primary;
        }
        .btn{
          display: inline-block;
          width: 10%;
          background: none;
        }
      }
    }
  }



  nav.navbar{
    background-color: $elam_primary;
    border-radius: 0;
    border: none;
    margin: 0;

    #main_nav{
      li{
        a{
          text-transform: uppercase;
          font-weight: $font-weight-bold;
          color: #fff;
          @include transition(0.2s);
        }
        a:hover,
        a:focus{
          background-color: $nav_hover;
          box-shadow: inset 0 -3px $elam_tertiary;
        }
      }
      li.active{
        a{
          background-color: $nav_hover;
          box-shadow: inset 0 -3px $elam_tertiary;
        }
      }
    }

    .navbar-toggle{
      float: left;
      z-index: 2;
      .icon-bar{
        background-color: #fff;
      }
    }
  }
}