.job-details{
  .job-title{
    margin-bottom: 60px;
  }

  .job-detail{
    border-left: solid;
    border-left: solid 2px #ddd;
    margin-bottom: 40px;
    padding-left: 20px;


    .field-title{
      text-transform: uppercase;
      font-weight: $font-weight-extra-bold;
      font-size: 19px;
      margin-top: 0;
      margin-bottom: 20px;
      position: relative;
    }
    .field-title:before{
      content: '';
      display: block;
      position: absolute;
      left: -25px;
      height: 100%;
      width: 5px;
      background-color: $elam_tertiary;
    }
  }
}

.job-detail{
  border-left: solid;
  border-left: solid 2px #ddd;
  margin-bottom: 40px;
  padding-left: 20px;


  .field-title{
    text-transform: uppercase;
    font-weight: $font-weight-extra-bold;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
  }
  .field-title:before{
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    height: 100%;
    width: 5px;
  }
}

.elam-banner {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  margin: 30px 0;
  background-blend-mode: multiply;

  .container{
    position: relative;
    z-index: 2;
  }
  .btn.plus {
    color: $elam_blue;
    background-color: #fff !important;
  }
}

.elam-banner.elam_blue {
  background-color: $elam_blue;
}

.elam-banner:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}