.job-details{
  .job-title{
    margin-bottom: 60px;
  }

  .job-detail{
    border-left: solid;
    border-left: solid 2px #ddd;
    margin-bottom: 40px;
    padding-left: 20px;


    .field-title{
      text-transform: uppercase;
      font-weight: $font-weight-extra-bold;
      font-size: 19px;
      margin-top: 0;
      margin-bottom: 20px;
      position: relative;
    }
    .field-title:before{
      content: '';
      display: block;
      position: absolute;
      left: -25px;
      height: 100%;
      width: 5px;
      background-color: $elam_tertiary;
    }
  }
}

.job-detail{
  border-left: solid;
  border-left: solid 2px #ddd;
  margin-bottom: 40px;
  padding-left: 20px;


  .field-title{
    text-transform: uppercase;
    font-weight: $font-weight-extra-bold;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
  }
  .field-title:before{
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    height: 100%;
    width: 5px;
  }
}

.elam-banner {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  margin: 30px 0;
  background-blend-mode: multiply;

  .container{
    position: relative;
    z-index: 2;
  }
  .btn.plus {
    color: $elam_blue;
    background-color: #fff !important;
  }
}

.elam-banner.elam-blue {
  background-color: $elam_blue;
}

#jumbo-details {
  overflow: hidden;
  margin-bottom: 30px;

  .col-sm-6 {
    padding: 0;
  }
  .image {
    height: 400px;
    overflow: hidden;
    background-size: cover;
  }

  .details {
    padding: 40px 20px;
    height: 400px;
    background-color: $elam_blue;
    color: #fff;
    position: relative;
    z-index: 3;

    .tags {
      .tag {
        display: inline-block;
        padding: 5px 20px;
        border: solid 3px #fff;
        margin: 5px;
        font-weight: $font-weight-bold;
        border-radius: 4px;
      }
    }

    .the-title {
      font-weight: $font-weight-extra-bold;
      margin-bottom: 20px;
    }

    .meta:before {
      font-family: 'FontAwesome', sans-serif;
      display: inline-block;
      width: 15px;
      margin-right: 20px;
      font-size: 18px;
    }
    .meta.employer:before {
      content: '\f0f2';
    }

    .meta.location:before {
      content: '\f041';
    }

    .btn.plus {
      margin-top: 25px;
      background: #fff;
    }
  }
  .details:after {
    content: '\f0f2';
    font-family: 'FontAwesome', sans-serif;
    color: #000;
    position: absolute;
    z-index: -1;
    font-size: 400px;
    opacity: 0.1;
    left: 100px;
    top: 50px;
  }
  .details:before {
    content: '';
    display: block;
    width: 130%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: -50px;
    top: 0;
    border-left: solid 10px #fff;
    @include transform(skew(-10deg, 0deg));
  }

}