
//Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;


//Elam Color set
$elam_primary: #e7378b;
$elam_secondary: #7a1e7f;
$elam_tertiary: #fa4b0c;
$elam_blue: #058bff;
$nav_hover: #b50c75;


//Livre des metiers Color set
$pink: #e7378b;
$pink_alt: #7f0150;
$purple: #7a1e7f;
$dark_purple: #54427f;
$purple_alt: #75416e;
$light_purple: #be5aa0;
$orange: #d06a24;
$green: #73a028;
$dark_green: #3f6745;
$brown: #703629;
$dark_red: #9d002c;
$marine_blue: #324f69;
$dark_blue: #123272;
$blue: #0c78c1;
$wood: #aa7a5f;
$turquoise: #00ada7;
$yellow: #d79c1c;
$grey: #a6a6a6;
$dark_grey: #6e6e6e;
