@-webkit-keyframes customAnimation {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
*:focus {
  outline: none !important; }

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif !important; }

a:hover,
a:focus {
  text-decoration: none; }

.data-animated {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 0.8s;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: 1;
  -o-animation-duration: 0.8s;
  -o-animation-delay: 0;
  -o-animation-iteration-count: 1; }

.the-content ul {
  list-style: none;
  padding-left: 15px;
}
.the-content .li,
.the-content li {
  padding-left: 15px;
  position: relative;
}
.the-content li:before,
.the-content .li:before {
  content: '\f101';
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  left: 0;
}

.li {
  padding-left: 15px;
  position: relative;
}

.li:before {
  content: '\f101';
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  left: 0;
}

.read-more {
  color: #fa4b0c;
  float: right; }

.read-more:after {
  content: '\f101';
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  margin-left: 5px;
  padding-right: 5px; }

.dropdown-menu {
  background-color: #e7378b;
  border: none;
  border-radius: 0;
  padding-top: 0;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 0.7s;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: 1;
  -o-animation-duration: 0.7s;
  -o-animation-delay: 0;
  -o-animation-iteration-count: 1; }
  .dropdown-menu li a {
    padding: 8px 20px; }

.owl-pagination .owl-page span {
  height: 8px !important;
  width: 8px !important;
}

.liens-rs {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
}

.liens-rs ul {
  list-style: none;
  padding: 0;
}

.liens-rs ul li {
  display: inline-block;
  vertical-align: top;
}

.liens-rs ul li a {
  display: block;
  width: 36px;
  padding: 8px 0;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.liens-rs ul li a:hover {
  border-radius: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.liens-rs ul li a:after {
  font-family: 'FontAwesome', sans-serif;
}

.liens-rs ul li a.facebook {
  background-color: #3b5b9b;
}

.liens-rs ul li a.facebook:after {
  content: '\f09a';
}

.liens-rs ul li a.twitter {
  background-color: #2daae1;
}

.liens-rs ul li a.twitter:after {
  content: '\f099';
}

.liens-rs ul li a.google-plus {
  background-color: #f63e28;
}

.liens-rs ul li a.google-plus:after {
  content: '\f0d5';
}

.liens-rs ul li a.linkedin {
  background-color: #0073b2;
}

.liens-rs ul li a.linkedin:after {
  content: '\f0e1';
}

.liens-rs ul li a.whatsapp {
  background-color: #5cb557;
}

.liens-rs ul li a.whatsapp:after {
  content: '\f232';
}

.liens-rs:after {
  display: block;
  width: 100%;
}

header {
  position: relative; }
  header #header_head {
    padding-top: 8px;
    padding-bottom: 8px; }
    header #header_head #header_buttons_inscription {
      position: relative;
      padding: 8px 0; }
      header #header_head #header_buttons_inscription #header_buttons {
        margin: 0; }
        header #header_head #header_buttons_inscription #header_buttons .login-btn,
        header #header_head #header_buttons_inscription #header_buttons .account-btn {
          font-weight: 700;
          text-transform: uppercase;
          color: #000;
          border-radius: 0; }
        header #header_head #header_buttons_inscription #header_buttons .login-btn-alt,
        header #header_head #header_buttons_inscription #header_buttons .account-btn-alt {
          color: #fff;
          font-size: 18px; }
        header #header_head #header_buttons_inscription #header_buttons .account-btn {
          border: solid 1px #000;
          border-top: none;
          border-bottom: none; }
        header #header_head #header_buttons_inscription #header_buttons #header_search_toggle {
          background: none;
          color: #a6a6a6;
          font-size: 18px; }
      header #header_head #header_buttons_inscription .search-form {
        background-color: #fff;
        position: absolute;
        right: 0;
        display: none;
        top: 0;
        padding: 8px 5px;
        width: 100%; }
        header #header_head #header_buttons_inscription .search-form .search-field {
          display: inline-block;
          width: 75%;
          padding: 6px 12px;
          border: none;
          border-bottom: solid 1px #e7378b; }
        header #header_head #header_buttons_inscription .search-form .btn {
          display: inline-block;
          width: 10%;
          background: none; }
  header nav.navbar {
    background-color: #e7378b;
    border-radius: 0;
    border: none;
    margin: 0; }
    header nav.navbar #main_nav li a {
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    header nav.navbar #main_nav li a:hover,
    header nav.navbar #main_nav li a:focus {
      background-color: #b50c75;
      box-shadow: inset 0 -3px #fa4b0c; }
    header nav.navbar #main_nav li.active a {
      background-color: #b50c75;
      box-shadow: inset 0 -3px #fa4b0c; }
    header nav.navbar .navbar-toggle {
      float: left;
      z-index: 2; }
      header nav.navbar .navbar-toggle .icon-bar {
        background-color: #fff; }

.block-pub a {
  margin: 15px 0;
  display: block; }
  .block-pub a img {
    width: 100%; }

#top_slider .owl-pagination .owl-page span {
  background-color: #e7378b !important;
}
#top_slider .slide {
  overflow: hidden;
  height: 500px;
  position: relative;
  background-size: cover;
  background-position: center center; }
  #top_slider .slide .container {
    position: relative; }
    #top_slider .slide .container .content {
      position: absolute;
      z-index: 999;
      width: 50%;
      right: 0;
      padding: 10% 15px; }
      #top_slider .slide .container .content .the-title {
        font-size: 40px;
        line-height: 40px;
        font-weight: 800;
        color: #e7378b;
        margin-bottom: 20px; }
        #top_slider .slide .container .content .the-title small {
          font-size: 30px;
          font-weight: 700;
          display: block; }

#top_slider .slide .container .content .the-content {
        color: #fff; }
      #top_slider .slide .container .content .buttons {
        margin-top: 20px; }
        #top_slider .slide .container .content .buttons .btn {
          border-radius: 0;
          padding: 15px 20px;
          font-weight: 700; }
        #top_slider .slide .container .content .buttons .btn.plus {
          background-color: #e7378b;
          color: #fff; }
        #top_slider .slide .container .content .buttons .btn.plus::after {
          content: '\f178';
          font-family: 'FontAwesome', sans-serif;
          margin-left: 10px;
          font-weight: normal; }
        #top_slider .slide .container .content .buttons .btn.alt {
          box-shadow: inset 2px 2px #fff, inset -2px -2px #fff;
          color: #fff; }
#top_slider .slide:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 1; }
#top_slider .owl-pagination {
  margin-top: -45px;
  padding-bottom: 8px;
  z-index: 999;
  position: relative; }

#pub-carte-elam {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  position: relative; }
  #pub-carte-elam .container {
    position: relative;
    z-index: 2; }
    #pub-carte-elam .container .the-title {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 800; }
    #pub-carte-elam .container .the-content {
      margin-bottom: 30px; }
    #pub-carte-elam .container .btn.plus {
      background-color: #fff;
      border-radius: 0;
      color: #058bff; }

#pub-carte-elam:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(5, 139, 255, 0.7); }

.page-title {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  padding: 10px 10px 10px 30px;
  border-left: solid 10px #fa4b0c; }

.section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin-left: 15px;
  padding-left: 15px;
  box-shadow: -8px 0 #fa4b0c, -12px 0 #fff, -14px 0 #fa4b0c; }

.sub-section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-shadow: -8px 0 #fa4b0c, -12px 0 #fff, -14px 0 #fa4b0c;
}

.sub-section {
  margin-bottom: 30px;
}

.section-alt-title {
  margin-left: 65px;
  color: #a6a6a6;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 50px; }

.articles .article {
  margin-bottom: 30px; }
  .articles .article .the-thumbnail {
    overflow: hidden;
    position: relative;
    text-align: center; }
    .articles .article .the-thumbnail img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .articles .article .the-thumbnail .the-category {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 13px;
      padding: 5px 40px 5px 10px;
      text-align: left;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }
    .articles .article .the-thumbnail .the-category:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
  .articles .article .the-title {
    font-weight: 800;
    color: #393939;
    display: block;
    padding: 10px 5px; }

.articles .article .the-content {
    text-align: justify;
    font-size: 13px; }
.articles .article:hover .the-thumbnail img {
  transform: scale(1.3); }

.vert-carousel .placeholder {
  background-color: #a1a1a1;
  color: #fff;
  font-weight: 800;
  text-align: center;
  display: block; }
.vert-carousel .main-carousel .placeholder {
  height: 300px;
  line-height: 300px; }
.vert-carousel .thumbnails {
  height: 300px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .vert-carousel .thumbnails span.control {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    left: 0;
    background-color: rgba(57, 57, 57, 0.5);
    color: #fff;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .vert-carousel .thumbnails span.control:hover {
    background-color: rgba(122, 30, 127, 0.5); }
  .vert-carousel .thumbnails span.prev {
    top: -40px; }
  .vert-carousel .thumbnails span.next {
    bottom: -40px; }
  .vert-carousel .thumbnails .thumbs {
    list-style: none;
    padding: 0; }
    .vert-carousel .thumbnails .thumbs .thumb {
      cursor: pointer; }
      .vert-carousel .thumbnails .thumbs .thumb span {
        box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5); }
  .vert-carousel .thumbnails .placeholder {
    height: 100px;
    line-height: 100px; }
.vert-carousel .thumbnails:hover span.next {
  bottom: 0; }
.vert-carousel .thumbnails:hover span.prev {
  top: 0; }

.liste-alphabetique {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 10px;
  border-left: solid 2px #ddd; }
  .liste-alphabetique .liste-label {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative; }
  .liste-alphabetique .liste-label:before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    height: 100%;
    width: 5px;
    background-color: #fa4b0c; }
  .liste-alphabetique a {
    color: #000;
    padding: 6px;
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .liste-alphabetique a:hover {
    color: #fa4b0c; }

#grande-liste-metiers .metier .image {
  position: relative; }
#grande-liste-metiers .metier .image:after {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6; }
#grande-liste-metiers .metier .details {
  background-color: #f2f2f2;
  padding: 15px; }
  #grande-liste-metiers .metier .details .the-title {
    font-weight: 700;
    color: #000;
    margin-top: 0; }
  #grande-liste-metiers .metier .details .the-category {
    display: inline-block;
    color: #393939;
    font-size: 13px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: solid 2px #fa4b0c; }
  #grande-liste-metiers .metier .details .the-description {
    color: #393939; }

.job-details .job-title {
  margin-bottom: 60px; }
.job-details .job-detail {
  border-left: solid;
  border-left: solid 2px #ddd;
  margin-bottom: 40px;
  padding-left: 20px; }
  .job-details .job-detail .field-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative; }
  .job-details .job-detail .field-title:before {
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    height: 100%;
    width: 5px;
    background-color: #fa4b0c; }

.job-detail {
  border-left: solid;
  border-left: solid 2px #ddd;
  margin-bottom: 40px;
  padding-left: 20px; }
  .job-detail .field-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative; }
  .job-detail .field-title:before {
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    height: 100%;
    width: 5px; }

.elam-banner {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  margin: 30px 0;
  background-blend-mode: multiply; }

.elam-banner .container {
    position: relative;
    z-index: 2; }

.elam-banner .btn.plus {
  color: #058bff;
  background-color: #fff !important;
}

.elam-banner.elam_blue {
  background-color: #058bff;
}

.elam-banner:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.secteur-activite .text .the-title {
  font-weight: 800;
  margin-bottom: 30px;
}
.secteur-activite .text .description {
  text-align: justify; }

#photos-metier {
  margin-bottom: 30px;
  position: relative;
}

#photos-metier img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#photos-metier img:hover {
  transform: scale(1.2);
}

#photos-metier .owl-pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.btn.plus {
  color: #fff;
  border-radius: 0;
  padding: 15px 20px;
  font-weight: 700; }

.btn.plus::after {
  content: '\f178';
  font-family: 'FontAwesome', sans-serif;
  margin-left: 10px;
  font-weight: normal; }

.chart {
  margin: 30px 0 130px;
}
  .chart .label {
    font-weight: 800;
    color: #a6a6a6;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 5px 0; }

.chart:last-of-type {
  margin: 30px 0;
}

#banner-fsbo {
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 30px; }
  #banner-fsbo #text-fsbo {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1; }

#banner-fsbo:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0; }

.envie-de-devenir {
  padding: 15px 0;
  background-color: #f8f8f8;
}

.envie-de-devenir .the-title {
  font-weight: 700;
}

.separator {
  display: block;
  margin: 40px auto;
  width: 90%;
  border-top: solid 1px #ddd; }

#carousel_metiers {
  position: relative; }
  #carousel_metiers .slide {
    position: relative;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 0 auto; }
    #carousel_metiers .slide img {
      width: 100%; }
    #carousel_metiers .slide .the-title {
      display: block;
      text-align: center;
      position: absolute;
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      left: 0;
      z-index: 2;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      color: #fff;
      bottom: -50%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #carousel_metiers .slide .search-icon {
      position: absolute;
      left: 45%;
      right: 45%;
      top: -50%;
      z-index: 2;
      color: #ffffff;
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #carousel_metiers .slide .search-icon:after {
      content: '\f002';
      font-family: 'FontAwesome', sans-serif;
      display: block;
      position: absolute;
      left: 8px;
      top: 5px; }
  #carousel_metiers .slide:hover .the-title {
    bottom: 30%; }
  #carousel_metiers .slide:hover .search-icon {
    top: 20%; }
  #carousel_metiers .slide:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
    transition: all 0.5 ease-in-out; }
  #carousel_metiers .slide:before {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    z-index: 2;
    visibility: hidden;
    border-top: solid 10px #fff;
    border-right: solid 10px #fff;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4); }
  #carousel_metiers .slide:hover:after {
    visibility: visible; }
  #carousel_metiers .slide:hover:before {
    visibility: visible; }
  #carousel_metiers .carousel-controls {
    text-align: center;
    margin-bottom: 20px; }
    #carousel_metiers .carousel-controls .control {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      padding-top: 8px;
      cursor: pointer;
      color: #fff;
      margin: 0 5px; }
    #carousel_metiers .carousel-controls .control:hover {
      background-color: #a1a1a1 !important; }

#section_temoignages {
  position: relative; }
  #section_temoignages .carousel-controls {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 90px; }
    #section_temoignages .carousel-controls .control {
      display: inline-block;
      vertical-align: top;
      padding: 10px 15px;
      font-size: 40px;
      cursor: pointer;
      color: #a1a1a1;
      margin: 0 5px; }
    #section_temoignages .carousel-controls .next {
      float: right; }
    #section_temoignages .carousel-controls .prev {
      float: left; }
  #section_temoignages .slide {
    position: relative;
    width: calc(100% - 30px);
    margin: 0 auto; }
    #section_temoignages .slide .the-picture-thumbnail {
      width: 120px;
      height: 120px;
      margin: 20px auto;
      overflow: hidden !important;
      border-radius: 100%;
      border: solid 4px #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
      #section_temoignages .slide .the-picture-thumbnail img {
        width: auto;
        height: 100%;
        z-index: 0; }
    #section_temoignages .slide .the-details {
      text-align: center;
      margin-bottom: 30px; }
    #section_temoignages .slide .the-content {
      padding: 20px;
      text-align: justify;
      color: #fff;
      position: relative;
      z-index: 2 !important;
      min-height: 200px; }
    #section_temoignages .slide .the-content:after {
      content: '\f10e';
      font-family: 'FontAwesome', sans-serif;
      position: absolute;
      color: #fff;
      opacity: 0.4;
      font-size: 40px;
      right: 20px;
      bottom: 10px; }
    #section_temoignages .slide .the-content:before {
      content: '';
      display: block;
      width: 30px;
      height: 50px;
      position: absolute;
      border-left: solid 15px transparent;
      border-right: solid 15px transparent;
      border-top: solid 15px transparent;
      background: none;
      z-index: 1 !important;
      left: 40%;
      top: -40px;
      -webkit-transform: rotate(28deg);
      -moz-transform: rotate(28deg);
      -o-transform: rotate(28deg);
      transform: rotate(28deg); }

.opportunites {
  position: relative;
  overflow: hidden;
  width: 90px;
  margin: 0 auto;
  background-color: #eee; }
  .opportunites img {
    position: relative;
    z-index: 2; }
  .opportunites .progress-value {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5;
    -moz-animation-iteration-count: 1;
    -o-animation-duration: 1s;
    -o-animation-delay: 0.5;
    -o-animation-iteration-count: 1; }

#metiers-du-secteur {
  overflow: hidden; }
  #metiers-du-secteur .btn.plus {
    margin: 20px 0;
    float: right; }
  #metiers-du-secteur #liste_metiers a {
    display: block;
    padding: 10px 15px 10px 25px;
    color: #a6a6a6; }
  #metiers-du-secteur #liste_metiers a:before {
    content: '\f005';
    font-family: 'FontAwesome', sans-serif;
    float: left;
    padding-right: 8px; }

#test-connaissances {
  margin: 50px 0;
  background: url("../img/school.png"); }
  #test-connaissances .title {
    font-weight: 800;
    color: #342600;
    font-size: 25px;
    text-align: right;
    padding: 40px 0; }
  #test-connaissances .button {
    text-align: center;
    padding: 20px 0; }
    #test-connaissances .button a {
      color: #fff;
      font-size: 80px; }
  #test-connaissances .description {
    color: #fff;
    padding: 35px 15px;
    font-size: 16px;
    font-weight: 700; }

#liste-partenaires {
  margin: 20px 0;
  list-style: none;
  padding: 0; }
  #liste-partenaires li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 24.4%; }
    #liste-partenaires li a {
      display: block; }
      #liste-partenaires li a img {
        width: 100%; }

#carousel_evenements .owl-carousel .the-date {
  padding: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 15px 0;
  border: solid 3px #e7378b;
  border-radius: 3px; }
  #carousel_evenements .owl-carousel .the-date .the-day {
    display: block;
    font-weight: 800;
    font-size: 30px;
    color: #7a1e7f; }
  #carousel_evenements .owl-carousel .the-date .the-month {
    display: block;
    font-weight: 800;
    color: #000;
    text-transform: uppercase; }
#carousel_evenements .owl-carousel .the-title {
  font-weight: 800;
  margin: 10px 0;
  font-size: 19px; }

#carousel_evenements .owl-carousel .the-content {
  text-align: justify; }
#carousel_evenements .slide-controls {
  overflow: hidden; }
  #carousel_evenements .slide-controls .col-xs-6 {
    padding: 0;
    position: relative;
    height: 200px; }
  #carousel_evenements .slide-controls .frame {
    overflow: hidden !important;
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #carousel_evenements .slide-controls .frame img {
      height: 100%; }
    #carousel_evenements .slide-controls .frame .details {
      position: absolute;
      padding: 30px 20px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
      left: 0;
      top: 0;
      z-index: 3;
      text-align: center; }
      #carousel_evenements .slide-controls .frame .details .the-date {
        padding: 5px 15px;
        font-size: 11px;
        border-radius: 3px;
        display: inline-block;
        margin: 15px auto;
        background-color: #e7378b;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff; }
      #carousel_evenements .slide-controls .frame .details .the-title {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        padding: 0 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #carousel_evenements .slide-controls .frame .details .the-title:hover {
        color: #058bff; }
      #carousel_evenements .slide-controls .frame .details .fa {
        color: #fff;
        background-color: #058bff;
        padding: 12px 10px;
        border-radius: 100%; }
  #carousel_evenements .slide-controls .frame.active,
  #carousel_evenements .slide-controls .frame:focus,
  #carousel_evenements .slide-controls .frame:hover {
    height: 240px;
    width: calc(100% + 20px);
    z-index: 10;
    border: solid 15px #fff; }
    #carousel_evenements .slide-controls .frame.active .details,
    #carousel_evenements .slide-controls .frame:focus .details,
    #carousel_evenements .slide-controls .frame:hover .details {
      display: block; }
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(1) > .frame.active,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(1) > .frame:focus,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(1) > .frame:hover {
    border-bottom-right-radius: 5px; }
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(2) > .frame.active,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(2) > .frame:focus,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(2) > .frame:hover {
    right: 0;
    top: 0;
    border-bottom-left-radius: 5px; }
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(3) > .frame.active,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(3) > .frame:focus,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(3) > .frame:hover {
    bottom: 0;
    border-top-right-radius: 5px; }
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(4) > .frame.active,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(4) > .frame:focus,
  #carousel_evenements .slide-controls .col-xs-6:nth-of-type(4) > .frame:hover {
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px; }

footer {
  padding: 40px 0;
  color: #a6a6a6;
  background-size: cover;
  background-position: center center;
  position: relative; }
  footer .container {
    position: relative;
    z-index: 1; }
    footer .container .footer-col .menu-title {
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      margin-bottom: 20px;
      font-size: 15px; }
    footer .container .footer-col .menu-title:before {
      content: '';
      display: block;
      width: 75%;
      height: 1px;
      background-color: #a6a6a6;
      margin-bottom: 15px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    footer .container .footer-col .menu-footer a {
      color: #a6a6a6;
      display: block;
      padding: 2px; }
    footer .container .footer-col:hover .menu-title:before {
      background-color: #fa4b0c; }

#top-footer .logo-elam {
  margin-bottom: 20px; }
#top-footer #menu-social-network {
  margin: 30px 0 50px; }
  #top-footer #menu-social-network a {
    padding: 5px 10px;
    color: #fff; }

footer:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(20, 69, 97, 0.8);
  z-index: 0; }

.jumbo-input .icon-field {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1; }
  .jumbo-input .icon-field .fa {
    font-size: 30px;
    padding: 30px 0;
    position: relative; }
.jumbo-input .icon-field:before {
  content: '';
  display: block;
  z-index: 0;
  position: absolute;
  height: 140%;
  width: 100%;
  left: -20px;
  top: -20%;
  background-color: #7a1e7f;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg); }
.jumbo-input .input-field {
  padding: 25px 20px;
  background-color: #e7378b; }
  .jumbo-input .input-field .field {
    position: relative;
    display: inline-block;
    width: calc(100% - 50px); }
    .jumbo-input .input-field .field input {
      border: none;
      background: none;
      width: 100%;
      height: 45px;
      position: relative;
      z-index: 2;
      padding: 10px 15px; }
  .jumbo-input .input-field .field:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border: solid 2px #fff;
    border-right: none;
    left: -10px;
    top: 0;
    position: absolute;
    z-index: 1;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg); }
  .jumbo-input .input-field .submit {
    background-color: #e7378b;
    border: solid 2px #fff;
    border-left: none;
    position: relative;
    z-index: 2;
    right: 20px;
    top: 1px;
    color: #fff;
    font-size: 20px;
    height: 45px;
    width: 45px; }
.jumbo-input .input-field:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e7378b;
  left: -30px;
  top: 0;
  position: absolute;
  z-index: 0;
}

#footer_jumbo-input {
  margin-top: 70px; }

/********************************

 Max-width:  992px

 ********************************/
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: 1;
    -o-animation-duration: 0.4s;
    -o-animation-delay: 0;
    -o-animation-iteration-count: 1;
  }

  nav.navbar #main_nav li a {
    font-size: 13px; } }
/********************************

 Max-width:  767px

 ********************************/
@media (max-width: 767px) {
  .dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important; }

  #header_buttons_inscription {
    position: absolute !important;
    z-index: 1;
    width: calc(100% - 40px);
    top: 66px;
    right: 0; }
    #header_buttons_inscription .btn {
      color: #fff !important; }
    #header_buttons_inscription .search-form {
      background-color: #e7378b !important;
      padding-left: 20px; }
      #header_buttons_inscription .search-form .search-field {
        background: none;
        color: #fff; }
      #header_buttons_inscription .search-form .search-field::-webkit-input-placeholder {
        color: #fff !important; }
      #header_buttons_inscription .search-form .search-field::-moz-placeholder {
        color: #fff !important; }
      #header_buttons_inscription .search-form .search-field:-ms-input-placeholder {
        color: #fff !important; }

  #top_slider .slide {
    height: 300px; }
    #top_slider .slide .container .content {
      width: 60%;
      right: 0;
      padding: 5% 15px; }
      #top_slider .slide .container .content .the-title {
        font-size: 30px;
        line-height: 30px; }
        #top_slider .slide .container .content .the-title small {
          font-size: 20px; }
      #top_slider .slide .container .content .buttons .btn {
        padding: 10px 15px; }

  #landing-page {
    padding: 10vh 0; }
    #landing-page #intro-text {
      font-size: 14px; }

  .jumbo-input .input-field .submit {
    top: 3px; }

  #metiers-du-secteur #liste_metiers li {
    width: 40%; }

  #banner-fsbo {
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 30px; }
    #banner-fsbo #text-fsbo {
      padding-top: 30px; }
      #banner-fsbo #text-fsbo img {
        display: block;
        width: auto;
        margin: 0 auto; }

  #test-connaissances .title {
    font-weight: 800;
    color: #342600;
    font-size: 25px;
    text-align: center;
    padding: 20px; }
  #test-connaissances .button {
    padding: 0; }
    #test-connaissances .button a {
      font-size: 80px; }
  #test-connaissances .description {
    text-align: center;
    padding-top: 15px; }

  #description-table .row {
    margin-bottom: 10px; }
    #description-table .row .tlabel,
    #description-table .row .data {
      padding-top: 5px;
      padding-bottom: 15px; }
    #description-table .row .tlabel {
      font-weight: 800;
      font-size: 16px; }
  #description-table .frame img {
    height: auto;
    width: 100%; } }
/********************************

 Max-width:  480px

 ********************************/
@media (max-width: 480px) {
  .col-xs-6 {
    float: none;
    width: 100%; }

  .page-title {
    font-size: 35px;
    padding-left: 20px; }

  .section-title {
    margin-left: 14px; }

  .section-alt-title {
    margin-left: 30px; }

  #top_slider .slide {
    height: 300px; }
    #top_slider .slide .container .content {
      width: 100%;
      left: 0;
      padding: 5% 15px; }
      #top_slider .slide .container .content .the-title {
        font-size: 30px;
        line-height: 30px; }
        #top_slider .slide .container .content .the-title small {
          font-size: 20px; }
      #top_slider .slide .container .content .buttons .btn {
        padding: 10px 15px; }

  #fullwidth_search .submit-btn {
    font-size: 25px; }
  #fullwidth_search .search_field {
    padding: 20px; }

  .jumbo-input .icon-field {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1; }
    .jumbo-input .icon-field .fa {
      font-size: 30px;
      padding: 30px 0;
      position: relative; }
  .jumbo-input .icon-field:before {
    width: 155%; }
  .jumbo-input .input-field .field:before {
    left: 0; }
  .jumbo-input .input-field .submit {
    right: 10px; }

  #metiers-du-secteur #liste_metiers li {
    width: 100%; }

  #liste-partenaires {
    margin: 20px 0;
    list-style: none;
    padding: 0; }
    #liste-partenaires li {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 100%; }
      #liste-partenaires li a {
        display: block; }
        #liste-partenaires li a img {
          width: 100%; } }

/*# sourceMappingURL=style.css.map */
